PORT="8000"
DATABASE_URL="mysql://root@localhost:3306/clothing"
JWT_SECRET="a939563561b8856e2c25e50ca4742888d5627413eb6ac240e03c394e83ae209c"

Railway_Bucket=""
Railway_Bucket_Name=""
Railway_Bucket_Key=""
Railway_Bucket_Secret=""