PORT="8000"
DATABASE_URL="mysql://root@localhost:3306/instagram"
JWT_SECRET="a939563561b8856e2c25e50ca4742888d5627413eb6ac240e03c394e83ae209c"

RAILWAY_BUCKET_ENDPOINT=""
RAILWAY_BUCKET_NAME=""
RAILWAY_BUCKET_ACCESS_KEY=""
RAILWAY_BUCKET_SECRET_KEY=""
RAILWAY_BUCKET_PUBLIC_URL=""
MAX_VIDEO_SIZE_MB="100"
CLIENT_URL="http://localhost:5173"


MAILTRAP_HOST=smtp.gmail.com
MAILTRAP_PORT=465
MAILTRAP_NAME=naumanhaider868@gmail.com
MAILTRAP_PASSWORD=
MAIL_FROM=naumanhaider868@gmail.com
FRONTEND_BASE_URL=http://localhost:5173